body {
  padding: 0;
  margin: 0 auto;
  width: 750px;
  font-size: 20px;
  line-height: 1.5em;
  text-align: justify;
  font-family: Times;
}

p {
  padding: 0 10px;
  margin: 0;
}

h1, h2, h3 {
  padding: 0;
  margin-bottom: 0;
}
h1 {
  font-size: 30px;
}
h2, h3 {
  font-size: 25px;
}

#header {
  padding: 0;
  margin: 0;
  text-align: center;
}
#header #top {
  padding-top: 10px;
  margin: 0;
  height: 90px;
  line-height: 90px;
  font-size: 45px;
}
#header #nav {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

#main {
  padding: 0 10px;
  margin: 0;
}

#content {
  padding: 10px 10px;
  margin: 0;
}

#footer {
  padding-bottom: 10px;
  margin: 0;
  font-size: 15px;
  line-height: 1em;
  text-align: center;
}

.date {
  padding: 5px 30px;
  margin: 0;
  color: #696969;
}

.posts ul {
  padding-left: 20px;
  margin: 0;
}
.posts li {
  list-style-type: none;
}

.tag li {
  padding: 0 10px;
  margin: 0;
  display: inline-block;
  background-color: #4169e1;
  border-radius: 10px;
}
.tag a {
  color: #ffffff;
  font-size: 16px;
  line-height: 0.8em;
  text-decoration: none;
}

@media screen and (max-width: 479px) {
  body {
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }

  p {
    padding: 0 5px;
  }

  #main {
    padding: 0 5px;
  }

  #content {
    padding: 10px 5px;
  }

  .date {
    padding-left: 20px;
  }
}
