---
layout: default
---

{% if post %}
  {% assign date = post.date %}
  {% assign tags = post.tags %}
{% else %}
  {% assign date = page.date %}
  {% assign tags = page.tags %}
{% endif %}

<article>
  <h1>{{page.title}}</h1>

  <div class="date">
    <time datetime="{{ date | date_to_xmlschema }}">
      {{ date | date_to_long_string }}
    </time>
  </div>

  <div id="content">

    {{content}}

    <div class="tag">
      <ul>
        {% for tag in tags %}
          <li><a href="{{site.github.url}}/tags#{{ tag | slugize }}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>

    {% include adsense.html %}

    {% include related_posts.html %}

  </div>

</article>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
